.tophed {
  background-color: black !important;
  width: 100%;
  height: 65px;
}

.icon {
  color: white !important;

}

.slider-container {
  color: white !important;
  font-size: 18px !important;
  overflow: hidden;
  text-align: center;
  margin-left: 100px;
  font-family: 'Mulish', sans-serif;

}

.rupis h6 {
  font-size: 15px !important;
  margin-right: 45px;
  margin-left: 100px;
}

/* =============Topheader end============== */
.logo img {
  width: 100px;

}

.css-ptdwpq-MuiPaper-root-MuiAppBar-root {
  background-color: rgb(5, 5, 19) !important;
}

.hedicon {
  gap: 10px;
  display: flex;
  margin-left: 20px;
}

.hero img {
  width: 100%;

}

.slick-prev {
  left: 25px !important;
  z-index: 9;
}

.slick-next {
  right: 25px !important;
}