.tophed {
  background-color: black !important;
  width: 100%;
  height: 65px;
}

.icon {
  color: white !important;

}

.slider {
  color: white !important;
  font-size: 18px !important;
  overflow: hidden;
  text-align: center;
  margin-left: 100px;
  font-family: 'Mulish', sans-serif;

}

.slider .slick-prev {
  left: -25px !important;
}

.slider .slick-next {
  right: -25px !important;
}

.rupis h6 {
  font-size: 15px !important;
  margin-right: 45px;
  margin-left: 100px;
}

/* =============Topheader end============== */

.header {
  background-color: #ffffff;
  color: #222;
}

/* ===== Logo Styling ===== */
.logo img {
  height: 40px;
}

/* ===== Drawer (Right Side Menu) ===== */
.hed-1 {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.hed-1 li {
  margin: 15px 0;
}

.hed-1 li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.2s ease;
}

.hed-1 li a:hover {
  color: #ff6600;
  /* change this color as you like */
  transform: translateX(5px);
}

/* ===== Icons Row ===== */
.hedicon {
  display: flex;
  align-items: center;
}

.hedicon .MuiSvgIcon-root {
  color: white;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
}

.hedicon .MuiSvgIcon-root:hover {
  color: #ff6600;
  transform: scale(1.1);
}

.logo img {
  width: 100px;

}

.css-y7ab46-MuiPaper-root-MuiDrawer-paper {
  background-color: rgb(5, 5, 19) !important;
  color: white !important;


}

.css-ptdwpq-MuiPaper-root-MuiAppBar-root {
  background-color: rgb(5, 5, 19) !important;
}

.hedicon {
  gap: 10px;
  display: flex;
  margin-left: 20px;
}

/* =====header end========== */

.img-1 {
  position: relative;
}

.img-1 h6 {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: -43%;
  text-align: center;
  color: #DD7210;
  margin-left: 43%;
  text-transform: uppercase;
  font-weight: 400 !important;
  font-size: 15px !important;

}

.img-1 h2 {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: -41%;
  text-align: center;
  color: white !important;
  margin-left: 18%;
  font-family: auto;
  font-size: 58px;
  font-weight: 500
}

.img-1 h5 {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: -33%;
  text-align: center;
  color: white !important;
  margin-left: 25%;
  font-family: none;

}

.img-2 {
  position: relative;
}

.img-2 h6 {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: -43%;
  text-align: center;
  color: #DD7210;
  margin-left: 43%;
  text-transform: uppercase;
  font-weight: 400 !important;
  font-size: 15px !important;

}

.img-2 h2 {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: -41%;
  text-align: center;
  color: white !important;
  margin-left: 21%;
  font-family: auto;
  font-size: 58px;
  font-weight: 500
}

.img-2 h5 {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: -33%;
  text-align: center;
  color: white !important;
  margin-left: 25%;
  font-family: none;

}

.hedicon .icon-1:hover {
  color: #DD7210;
}

.hedicon .icon-2:hover {
  color: #DD7210;
}

.hedicon .icon-3:hover {
  color: #DD7210;
}

.hedicon .icon-4:hover {
  color: #DD7210;
}

.img-3 {
  position: relative;
}

.img-3 h6 {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: -43%;
  text-align: center;
  color: #DD7210;
  margin-left: 43%;
  text-transform: uppercase;
  font-weight: 400 !important;
  font-size: 15px !important;

}

.img-3 h2 {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: -41%;
  text-align: center;
  color: white !important;
  margin-left: 23%;
  font-family: auto;
  font-size: 58px;
  font-weight: 500
}

.img-3 h5 {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: -33%;
  text-align: center;
  color: white !important;
  margin-left: 25%;
  font-family: none;

}

.hero .img-2 {
  overflow: hidden;
}

.hero .img-2 img {
  width: 100%;
  height: 100%;
  transform: scale(1.09);
  transition: 0.5s;
  object-fit: cover;
}

.hero .img-1 {
  overflow: hidden;
}

.hero .img-1 img {
  width: 100%;
  height: 100%;
  transform: scale(1.09);
  transition: 0.5s;
  object-fit: cover;

}

.hero .img-3 {
  overflow: hidden;
}

.hero .img-3 img {
  width: 100%;
  height: 100%;
  transform: scale(1.09);
  transition: 0.5s;
  object-fit: cover;


}


.slick-prev {
  left: 25px !important;
  z-index: 9;
}

.slick-next {
  right: 25px !important;
}



.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.hero .slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1.9s ease-in-out;
}

.hero .slick-slide:hover img {
  transform: scale(1.05);
}

.hero .slick-slide.slick-current img {
  transform: scale(1);
}

.img-1,
.img-2,
.img-3 {
  position: relative;
  overflow: hidden;
}

.slick-prev,
.slick-next {
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  color: #000;

}

.hero .btnn {
  background-color: #DD7210;
  position: absolute;
  margin-top: -18%;
  text-align: center;
  color: white !important;
  margin-left: 44%;
  padding: 10px 24px;
  border-radius: 50px;
  font-size: 16px;
  font-family: none;
  overflow: hidden;

}

.hero .btnn:hover {
  border: 2px solid #DD7210;
  background-color: white;
  color: #DD7210 !important;

}



/* =======hero section end========== */
.about {
  width: 100%;
  height: 940px;
  background-color: #101010;
  margin-top: -4px;
  background-image: url('https://wdtteapoy.wpengine.com/wp-content/uploads/2024/05/body-bg.png');
}

.about .grid-1 h6 {
  color: #DD7210;
  padding-top: 65px;
  padding-left: 45px;
  font-size: 16px;
  font-weight: 400 !important;
  font-family: system-ui;
}

.about .grid-1 h2 {
  color: white;
  padding-left: 45px;
  font-weight: 500;
  font-family: auto;
  font-size: 54px;
  padding-top: 10px;
  line-height: 1;

}

.about .grid-1 h5 {
  color: #A9A9A9;
  padding-left: 45px;
  font-size: 18px;
  padding-top: 17px;
  background: transparent;
  font-family: math;
}


.about .grid-1 img {
  width: 91%;
  height: 484px;
  padding-left: 45px;
  padding-top: 45px;
  transition: 375ms cubic-bezier(0.7, 0, 0.3, 1);
  transition-delay: 0.05s;
  border-radius: 39% 1% 39% 1% !important;
  /* border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%; */

}

.about .grid-2 img {
  padding-top: 45px;
  width: 91%;
  height: 484px;
  border-radius: 1% 39% 1% 39% !important;


}

.about .grid-2 h5 {
  color: white;
  padding-top: 45px;
  font-family: auto;
  padding-left: 20px;

}

.about .grid-2 h6 {
  color: #A9A9A9;
  font-size: 18px;
  padding-top: 17px;
  background: transparent;
  font-family: math;
  padding-left: 20px;
}

.about .grid-2 .iconn {
  color: #DD7210 !important;
  padding-left: 20px;
  display: flex;
  padding-top: 17px;

}

.about .grid-2 h4 {
  color: #A9A9A9 !important;
  font-size: 17px;
  padding-left: 8px;
  padding-top: 3px;
  font-family: math;

}

/* =======about end======  */
.main {
  background-color: #2B2B2B;
  height: 250px;
  width: 100%;
  background-image: url('https://wdtteapoy.wpengine.com/wp-content/uploads/2024/05/body-bg.png');
}

.main h6 {
  text-align: center;
  color: #DD7210;
  padding-top: 65px;

  font-size: 16px;
  font-weight: 400 !important;
  font-family: system-ui;
}

.main h3 {
  color: white;
  text-align: center;
  font-weight: 500;
  font-family: auto;
  font-size: 54px;
  padding-top: 10px;
}

.opestion {
  display: flex;
  gap: 100px;
  color: gray;
  padding-top: 20px;
  padding-left: 82px;

}

.opestion .ops-1 span {
  position: relative;

  top: -77%;
  padding-left: 171px;
}

.opestion .ops-2 span {
  position: relative;

  top: -77%;
  padding-left: 175px;
}

.opestion .ops-3 span {
  position: relative;

  top: -77%;
  padding-left: 176px;
}

.opestion .ops-4 span {
  position: relative;

  top: -77%;
  padding-left: 190px;
}


.opestion .ops-1 h5 {
  font-family: none;
}

.opestion .ops-2 h5 {
  font-family: none;
}

.opestion .ops-3 h5 {
  font-family: none;
}

.opestion .ops-4 h5 {
  font-family: none;
}

.opestion .ops-1 {
  position: relative;
}

.opestion .ops-1:hover {
  color: white;
}

.opestion .ops-1::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;

  background-color: white;
  bottom: 20px;
  left: 0;
  transition: width 0.4s ease-in-out;

}

.opestion .ops-1:hover::after {
  width: 100%;
}

.opestion .ops-2 {
  position: relative;
}

.opestion .ops-2:hover {
  color: white;
}

.opestion .ops-2::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: white;
  bottom: 20px;
  left: 0;
  transition: width 0.4s ease-in-out;
}

.opestion .ops-2:hover::after {
  width: 100%;
}

.opestion .ops-3 {
  position: relative;
}

.opestion .ops-3:hover {
  color: white;
}

.opestion .ops-3::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: white;
  bottom: 20px;
  left: 0;
  transition: width 0.4s ease-in-out;
}

.opestion .ops-3:hover::after {
  width: 100%;
}

.opestion .ops-4 {
  position: relative;
}

.opestion .ops-4:hover {
  color: white;
}

.opestion .ops-4::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: white;
  bottom: 20px;
  left: 0;
  transition: width 0.4s ease-in-out;

}

.opestion .ops-4:hover::after {
  width: 100%;
}

.opestion .ops-2:hover {
  color: white;
}

.opestion .ops-3:hover {
  color: white;
}

.opestion .ops-4:hover {
  color: white;
}

.ecommers img {
  width: 100%;

}

.ecommers .slick-track {

  display: flex !important;
  gap: 22px !important;
}

.product-img {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 300px;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.product-img .main-img {
  z-index: 1;
  opacity: 1;
}

.product-img .hover-img {
  z-index: 2;
  opacity: 0;
  transform: translateX(100%);
}

/* On hover, make the main image disappear and show the hover image */
.product-img:hover .main-img {
  opacity: 0;
  transform: translateX(-100%);
}

.product-img:hover .hover-img {
  opacity: 1;
  transform: translateX(0);
}


.section h6 {
  color: gray;
  text-align: center;
  font-size: 14px;
  padding-top: 15px;
}

.section h6:hover {
  color: #DD7210;
}

.section h4 {
  color: white;
  text-align: center;
  font-size: 25px;
  font-family: math;
  font-weight: 500;
  padding-top: 10px;
}

.section h4:hover {
  color: #DD7210;
}

.section h5 {
  color: white;
  text-align: center;
  font-size: 20px;
  padding-top: 7px;
  font-family: auto;
}

.section h5:hover {
  color: #DD7210;
}

.product-img1 {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 300px;


}

.ecommers .slick-prev {
  display: none !important;
}

.ecommers .slick-next {

  display: none !important;
}

.product-img1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;

}

.product-img1 .main-img-1 {
  z-index: 1;
  opacity: 1;
}

.product-img1 .hover-img-1 {
  z-index: 2;
  opacity: 0;
  transform: translateX(100%);
}

/* On hover, make the main image disappear and show the hover image */
.product-img1:hover .main-img-1 {
  opacity: 0;
  transform: translateX(-100%);
}

.product-img1:hover .hover-img-1 {
  opacity: 1;
  transform: translateX(0);
}

.product-img2 {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 300px;
}

.product-img2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
  padding-right: 50px;

}

.product-img2 .main-img-2 {
  z-index: 1;
  opacity: 1;
}

.product-img2 .hover--2 {
  z-index: 2;
  opacity: 0;
  transform: translateX(100%);
}

/* On hover, make the main image disappear and show the hover image */
.product-img2:hover .main-img-2 {
  opacity: 0;
  transform: translateX(-100%);
}

.product-img2:hover .hover-img-2 {
  opacity: 1;
  transform: translateX(0);
}

/* ==========outoplay slider========== */
.sliderr {
  width: 100%;
  height: 80px;
  background-color: #DD7210;
}

.sliderr .slick-prev {
  display: none !important;
}

.sliderr .slick-next {
  display: none !important;
}

.texss {
  color: white;
  font-size: 43px;

}

.texss h6 {
  font-size: 28px;
  font-family: math;
}

/* ========section====== */
.sectionn {
  background-color: #2B2B2B;
  width: 100%;
  height: 650px;
  background-image: url('https://wdtteapoy.wpengine.com/wp-content/uploads/2024/05/body-bg.png');
}

.sectionn img {
  width: 92% !important;
  height: 575px;
  padding-top: 55px;
  padding-left: 50px;
}

.sectionn h5 {
  font-family: math !important;
}

.grid-2 h6 {
  color: #DD7210;
  padding-top: 50px;
  padding-left: 25px;
  font-size: 16px;
  font-weight: 400 !important;
  font-family: system-ui;
}

.grid-2 h2 {
  color: white;
  padding-left: 24px;
  font-weight: 500;
  font-family: auto;
  font-size: 54px;
  padding-top: 10px;
  line-height: 1;
}

.grid-2 h5 {
  color: #A9A9A9;
  background: transparent;
  border: 0;
  font-size: 20px;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  padding-left: 32px;
  padding-top: 10px;
}

.number {
  display: flex;
  gap: 75px;
  color: #DD7210;
  padding-left: 23px;
  padding-top: 20px;
}

.number h1 {
  font-size: 75px;
  font-family: 'slick';
}

.number-1 {
  display: flex;
  gap: 50px;
  padding-left: 4px;
}

.number-1 h5 {
  color: white !important;
}

.grid-2 .bbtn {
  background-color: #DD7210;
  position: absolute;
  text-align: center;
  color: white !important;
  padding: 10px 24px;
  border-radius: 50px;
  font-size: 16px;
  font-family: none;
  overflow: hidden;
  margin-left: 28px;
  margin-top: 20px;
}

.grid-2 .bbtn:hover {
  border: 2px solid #DD7210;
  background-color: white;
  color: #DD7210 !important;
}

/* ==========outoplayslider end=========== */
.customer {
  background-color: #2B2B2B;
  width: 100%;
  height: 650px;
  background-image: url('https://wdtteapoy.wpengine.com/wp-content/uploads/2024/05/body-bg.png');
}

.slider-1 h6 {
  color: #DD7210;

  font-size: 16px;
  font-weight: 400 !important;
  font-family: system-ui;
  text-align: center;
  padding-top: 50px;
}

.slider-1 h2 {
  color: white;
  text-align: center;
  font-family: auto;
  font-weight: 500;


}

.slider-1 .star {
  color: #DD7210;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  gap: 5px;

}

.slider-1 h5 {
  color: white;
  text-align: center;
  font-size: 25px;
  padding-top: 30px;
  font-family: math;

}

.slider-1 img {

  border-radius: 100px;
  margin-left: 46%;
  margin-top: 15px;
  width: 100px;
}

.slider-1 h4 {
  color: white;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  font-family: math;
}

.slider-1 h4:hover {
  color: #DD7210;
}

.slider-1 .endtexs {
  color: gray !important;
  padding-top: 6px !important;
  font-size: 17px !important;
  padding-bottom: 15px !important;
}

/* ============customer end=========== */
.hoverimg img {
  width: 100%;
  height: 150px !important;

}

.img-container {
  position: relative;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 150px;
  display: block;
  transition: transform 0.4s ease, filter 0.4s ease;
  position: relative;
  z-index: 1;
}

.img-container:hover img {
  filter: blur(3px);
  transform: scale(1.05);
}

.img-container:hover::before {
  left: 0;
}

.hover-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-family: auto;
  z-index: 3;
}

/* ===========hovercard end =========== */
.shop {
  background-color: #2B2B2B;

  height: 740px;
  background-image: url('https://wdtteapoy.wpengine.com/wp-content/uploads/2024/05/body-bg.png');
}

.shop h6 {
  color: #DD7210;
  font-size: 16px;
  font-weight: 400 !important;
  font-family: system-ui;
  text-align: center;
  padding-top: 50px;
}

.shop h2 {
  color: white;
  text-align: center;
  font-family: auto;
  font-weight: 500;
  padding-bottom: 60px;
}

.border {
  border: 1px solid #5e5e5e;
  width: 130% !important;

  margin-left: 40px !important;
}

.shop h4 {
  padding-top: 20px;
  margin-left: 50px !important;
  color: white;
  font-weight: 500;
  font-style: italic;
  font-weight: 500;
  font-family: auto;
  font-size: 37px;
  padding-bottom: 15px;
}

.shop h4:hover {
  color: #5e5e5e;
}

.shop img {
  width: 100% !important;
  height: 500px !important;
  margin-left: 135px;
}

/* ==========shopcategory end========= */
.email-section {
  height: 500px;
  background-image: url('https://wdtteapoy.wpengine.com/wp-content/uploads/2024/05/Home-1-newsletter-bg-01.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 2s ease-in-out;
  width: 100%;
  position: relative;
}

.email-section::before {
  position: absolute;
  z-index: 2;
  content: "";
  background-color: #00000063;
  inset: 0;
  width: 100%;
  height: 100%;
}

.email-container {
  z-index: 9;
}

.email-container h6 {
  color: #DD7210;
  font-size: 16px;
  font-weight: 400 !important;
  font-family: system-ui;
  text-align: center;
  margin-top: -31px;
}

.email-container h2 {
  color: white;
  text-align: center;
  font-family: auto;
  font-weight: 500;
  margin-bottom: 52px;

}

.email-form input {
  background-color: transparent !important;
  border: 1px solid white;
  padding: 20px 315px;
  /* margin-left: 45px; */
  border-radius: 35px;
  font-size: 15px;
  padding-left: 15px;
  z-index: 9;
}

.email-form input:hover {
  border: 1px solid #DD7210 !important;
}

/*=========email end======== */

.footer {
  background-color: black;
  background-image: url('https://wdtteapoy.wpengine.com/wp-content/uploads/2024/05/body-bg.png') !important;

  height: 250px;
}

.footer img {
  width: 50% !important;
  margin-bottom: 15px;
}

/* ============footer end========= */
.pg-1 img {
  width: 100%;
  height: 450px;
}

.pg-1::before {
  position: absolute;
  z-index: 2;
  content: "";
  background-color: #00000063;
  inset: 0;
  width: 100%;
  height: 450px;
  top: 131px;
}

.pg-1 h2 {
  text-align: center;
  margin-top: -273px;
  color: white;
  z-index: 999 !important;
  position: relative;
  font-family: serif;
  font-weight: 500;
}

.subtitle1 {
  color: white;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-family: serif !important;
  display: flex;
  /* position: absolute; */
  z-index: 9;
  margin-top: 15px !important;
}

.subtitle1 a {
  color: white;
  text-align: center;
  justify-content: center;
  font-family: serif !important;
  z-index: 9;
  text-decoration: none;
  z-index: 3;
  margin-bottom: 158px;
}

.subtitle1 a:hover {
  color: #DD7210;
}

/* =======pgshop end===== */
.contact {
  background-color: black;
  background-image: url("https://wdtteapoy.wpengine.com/wp-content/uploads/2024/05/body-bg.png");
  width: 100%;
  height: 600px;
}
.contact h6 {
  color: #DD7210;
  font-size: 16px;
  font-weight: 400 !important;
  font-family: system-ui;
  text-align: center;
  padding-top: 70px;
}
.contact h2 {
  color: white;
  text-align: center;
  font-family: auto;
  font-weight: 500;
  margin-bottom: 20px;
}
.contact h5 {
  color: #A9A9A9;
  font-size: 16px;
  font-weight: 500 !important;
  font-family: system-ui;
  text-align: center;
}
@media (max-width:1200px) {
  


}

@media (min-width:993px) and (max-width:1140px) {}

@media (max-width:992px) {}


@media (min-width:768px) and (max-width:960px) {}

@media (max-width: 768px) {}

@media (min-width:577px) and (max-width:720px) {}

@media (max-width: 576px) {}